 @media screen and (min-width:1100px){
    .whatwedo .items .item{
  
        flex-direction: row;
        padding: 0 2rem;
        
    }
    .whatwedo .items .item div{
        text-align: left;
    }
    .whatwedo .items {
        display: flex;
        justify-content: center;
        align-items: center;
        /* background: chocolate; */
    }
    .whatwedo .items .item i{
        margin-bottom: 0;
        align-self: center;
        margin-right: 1.3rem;
    }
    .contact_map .map{
        flex: 2;
    }
 }
@media screen and (max-width:768px){
    .whatwedo .items .item{
        flex-direction: row;
        text-align: left;
        margin: 1rem 0;
    }
    .whatwedo .items .item i{
        margin-right: 0.75rem ;
        align-self: center;
        margin-bottom: 0;
    }
    .whatwedo .items{
        display: block;
    }
    header .content{
        top: 30px;
    }
}
@media screen and (max-width:500px) {
    nav{
        flex-direction: column;
        padding:1rem 2rem;

    }
    .whatwedo .items .item{
  
        flex-direction: row;
        padding: 0 0.6rem;
        margin-bottom: 30px;
        
    }
    footer{
        font-size: 0.9rem;
    }
    header .content{
        padding:0 1rem;
    }
    .whatwedo .items .item i{
        margin-bottom: 0;
        align-self: center;
        margin-right: 1.3rem;

    }
    .items .item div h3{
        font-size: 1.2rem;
        margin-bottom: 7px;
    }
    .items .item div p{
        font-size: 1rem;
    }
    header .content h1{
        font-size: 4rem;
        margin-top: 150px;
    }
    .title ul li{
        padding: 0.5rem;
        margin: 0;
    }
    .logo{
        margin-bottom: 7px;
    }
    
    .who{
        display: block;
    }
    .who .imagepeople{
        display: none;
    }.customer .clients  img{
        width: 70%;
    }
    .customer .clients  div:last-child{
        display: none;
    }.contact_map{
        display: block;
    }
    .cpmap{
        border-top: 4px solid black;
    }
    header .content{
        top: 30px;
    }
}
@media screen and (max-width:375px) {
    nav{
        flex-direction: column;
       
    }
    
    .whatwedo .items .item{
  
        flex-direction: row;
        padding: 0 1.5rem;
        margin-bottom: 30px;
        
    }
    header .content{
        padding:0 1rem;
    }
    .whatwedo .items .item i{
        margin-bottom: 0;
        align-self: center;
        margin-right: 1.3rem;

    }
    .items .item div h3{
        font-size: 1.2rem;
        margin-bottom: 7px;
    }
    .items .item div p{
        font-size: 1rem;
    }
    header .content h1{
        font-size: 3.3rem;
        margin-top: 150px;
    }
    
    .title ul li{
        padding: 0.3rem;
        margin: 0;
    }
    .logo{
        margin-bottom: 7px;
    }
    
    .who{
        display: block;
    }
    .who .imagepeople{
        display: none;
    }.customer .clients  img{
        width: 70%;
    }
    .customer .clients  div:last-child{
        display: none;
    }.contact_map{
        display: block;
    }
    .cpmap{
        border-top: 4px solid black;
    }
}